@font-face {
	font-family: Buongiorno Rastellino;
	font-display: swap;
	src: url("../fonts/Buongiorno Rastellino.woff2") format("woff2"), url("../fonts/Buongiorno Rastellino.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Fontspring;
	font-display: swap;
	src: url("../fonts/Fontspring-DEMO-theseasons-bdit.woff2") format("woff2"), url("../fonts/Fontspring-DEMO-theseasons-bdit.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: Fontspring;
	font-display: swap;
	src: url("../fonts/Fontspring-DEMO-theseasons-it.woff2") format("woff2"), url("../fonts/Fontspring-DEMO-theseasons-it.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Fontspring;
	font-display: swap;
	src: url("../fonts/Fontspring-DEMO-theseasons-lt.woff2") format("woff2"), url("../fonts/Fontspring-DEMO-theseasons-lt.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Fontspring;
	font-display: swap;
	src: url("../fonts/Fontspring-DEMO-theseasons-ltit.woff2") format("woff2"), url("../fonts/Fontspring-DEMO-theseasons-ltit.woff") format("woff");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: Fontspring;
	font-display: swap;
	src: url("../fonts/Fontspring-DEMO-theseasons-reg.woff2") format("woff2"), url("../fonts/Fontspring-DEMO-theseasons-reg.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Evolventa;
	font-display: swap;
	src: url("../fonts/Evolventa-Bold.woff2") format("woff2"), url("../fonts/Evolventa-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Evolventa;
	font-display: swap;
	src: url("../fonts/Evolventa-Regular.woff2") format("woff2"), url("../fonts/Evolventa-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Fontspring;
	font-display: swap;
	src: url("../fonts/Fontspring-DEMO-theseasons-bd.woff2") format("woff2"), url("../fonts/Fontspring-DEMO-theseasons-bd.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
