// Заголовки, загальні БЕМ блоки та інше...
._error {
    color: $orangeColor;
}
.link {
    @media (any-hover: hover) {
        &:hover {
            text-decoration: underline;
        }
    }
}

.button {
    padding: toRem(12) toRem(30);
    border-radius: 0 !important;
    @include adaptiveValue("font-size", 30, 24, 0, 768, 320);
    text-align: center;
    background-color: $greenColor;
    text-shadow: 0px 2px 5px rgb(0, 0, 0, 0.2);
    border: 2px solid $mainColor;
    font-weight: 700;
    gap: toRem(5);
    line-height: 1;
    transition:
        opacity 0.3s,
        background-color 0.3s;
    @media (any-hover: hover) {
        &:hover {
            background-color: #bcdd79;
            animation: buttonBounce 0.5s ease-in-out;
        }
        &:active {
            background-color: #bcdd79;
            animation: buttonBounce 0.5s ease-in-out;
        }
    }
    ._big {
        font-weight: 800;
        font-size: 1.2em;
    }
    &--white {
        color: #fff;
        text-shadow:
            0px 1px 0 rgb(0, 0, 0),
            0px -1px 0 rgb(0, 0, 0),
            1px 0px 0 rgb(0, 0, 0),
            -1px 0px 0 rgb(0, 0, 0),
            1px 1px 0 rgb(0, 0, 0),
            1px -1px 0 rgb(0, 0, 0),
            -1px 1px 0 rgb(0, 0, 0),
            -1px -1px 0 rgb(0, 0, 0);
        position: relative;
        padding: 0;
        ._value {
            display: inline-block;
            padding: toRem(12) toRem(30);
            background-color: #bcdd79;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 90%;
            height: 100%;
            transform: translate(-50%, 0);
            box-shadow: 0px 20px 25px #00000090;
            z-index: -1;
        }
    }
    @keyframes buttonBounce {
        0% {
            transform: translate(0);
        }
        50% {
            transform: translateY(-5px);
        }
        100% {
            transform: translate(0);
        }
    }
}
.marquee {
    max-width: 100%;
    background-color: #151516;
    display: flex;
    overflow: hidden;
    color: #fff;
    padding: toRem(10) 0;
    &.pink {
        background-color: $pinkColor;
        text-shadow:
            0px 1px 0 rgb(0, 0, 0),
            0px -1px 0 rgb(0, 0, 0),
            1px 0px 0 rgb(0, 0, 0),
            -1px 0px 0 rgb(0, 0, 0),
            1px 1px 0 rgb(0, 0, 0),
            1px -1px 0 rgb(0, 0, 0),
            -1px 1px 0 rgb(0, 0, 0),
            -1px -1px 0 rgb(0, 0, 0);
    }
    &__scrolling {
        animation: scroll 50s linear infinite;
        display: flex;
        gap: toRem(5);
        white-space: nowrap;
    }
    &__text {
        font-style: italic;
        font-weight: 700;
        @include adaptiveValue("font-size", 36, 22);
        .normal {
            font-style: normal;
        }
    }
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
._uppercase {
    text-transform: uppercase;
}
