.header {
    padding-top: toRem(20);
    padding-bottom: toRem(10);
    border-bottom: 1px solid #000;
    &__container {
        text-align: center;
    }
    &__link {
        @include adaptiveValue("font-size", 28, 20, 0, 768, 320);
        transition: opacity 0.3s;
        &:active {
            opacity: 0.6;
        }
        @media (any-hover: hover) {
            &:hover {
                opacity: 0.6;
            }
        }
    }
}
