.page {
    &__main-block {
    }
    &__info {
    }
    &__ba {
    }
    &__testimonials {
    }
    &__faq {
    }
}
.main-block {
    position: relative;
    @include adaptiveValue("padding-top", 200, 70);
    @include adaptiveValue("padding-bottom", 200, 70);
    display: flex;
    flex-direction: column;
    gap: toRem(50);
    &__images {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
    }
    &__image {
        width: 50%;
        flex: 0 0 50%;
        height: 100%;
        object-fit: cover;
    }
    &__container {
        position: relative;
        z-index: 2;
        color: #fff;
        text-align: center;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        gap: toRem(50);
        font-style: italic;
    }
    &__title {
        display: flex;
        flex-direction: column;
        text-shadow:
            0px 0.7px 0 rgb(0, 0, 0),
            0px -0.7px 0 rgb(0, 0, 0),
            0.7px 0px 0 rgb(0, 0, 0),
            -0.7px 0px 0 rgb(0, 0, 0),
            0.7px 0.7px 0 rgb(0, 0, 0),
            0.7px -0.7px 0 rgb(0, 0, 0),
            -0.7px 0.7px 0 rgb(0, 0, 0),
            -0.7px -0.7px 0 rgb(0, 0, 0);
        transform: translateX(20px) rotate(-9.7deg);
        opacity: 0;
        .loaded & {
            transition:
                transform 0.5s,
                opacity 0.5s;
            opacity: 1;
            transform: translate(0) rotate(-9.7deg);
        }
        ._big {
            @include adaptiveValue("font-size", 78, 24);
            text-shadow:
                0px 2px 0 rgb(0, 0, 0),
                0px -2px 0 rgb(0, 0, 0),
                2px 0px 0 rgb(0, 0, 0),
                -2px 0px 0 rgb(0, 0, 0),
                2px 2px 0 rgb(0, 0, 0),
                2px -2px 0 rgb(0, 0, 0),
                -2px 2px 0 rgb(0, 0, 0),
                -2px -2px 0 rgb(0, 0, 0);
            @media (max-width: $mobileSmall) {
                text-shadow:
                    0px 1px 0 rgb(0, 0, 0),
                    0px -1px 0 rgb(0, 0, 0),
                    1px 0px 0 rgb(0, 0, 0),
                    -1px 0px 0 rgb(0, 0, 0),
                    1px 1px 0 rgb(0, 0, 0),
                    1px -1px 0 rgb(0, 0, 0),
                    -1px 1px 0 rgb(0, 0, 0),
                    -1px -1px 0 rgb(0, 0, 0);
            }
        }
        ._small {
            @include adaptiveValue("font-size", 30, 14);
            transform: translateX(20px) rotate(-9.7deg);
            opacity: 0;
            .loaded & {
                transition:
                    transform 0.5s 0.3s,
                    opacity 0.5s 0.3s;
                opacity: 1;
                transform: translate(0);
            }
        }
    }
    &__sub-title {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("font-size", 53, 18);
        gap: toRem(10);
        line-height: 1;
        text-shadow:
            0px 1.5px 0 rgb(0, 0, 0),
            0px -1.5px 0 rgb(0, 0, 0),
            1.5px 0px 0 rgb(0, 0, 0),
            -1.5px 0px 0 rgb(0, 0, 0),
            1.5px 1.5px 0 rgb(0, 0, 0),
            1.5px -1.5px 0 rgb(0, 0, 0),
            -1.5px 1.5px 0 rgb(0, 0, 0),
            -1.5px -1.5px 0 rgb(0, 0, 0);
        @media (max-width: $mobileSmall) {
            text-shadow:
                0px 1px 0 rgb(0, 0, 0),
                0px -1px 0 rgb(0, 0, 0),
                1px 0px 0 rgb(0, 0, 0),
                -1px 0px 0 rgb(0, 0, 0),
                1px 1px 0 rgb(0, 0, 0),
                1px -1px 0 rgb(0, 0, 0),
                -1px 1px 0 rgb(0, 0, 0),
                -1px -1px 0 rgb(0, 0, 0);
        }
        transform: translateX(-20px);
        opacity: 0;
        .loaded & {
            transition:
                transform 0.5s 0.6s,
                opacity 0.5s 0.6s;
            opacity: 1;
            transform: translate(0);
        }
        ._big {
            padding: toRem(10) toRem(30) toRem(15);
            border-radius: 100px;
            background-color: $pinkColor;
            @media (max-width: $mobileSmall) {
                padding: toRem(5) toRem(15) toRem(10);
            }
        }
        ._small {
            transform: translateY(20px);
            opacity: 0;
            .loaded & {
                transition:
                    transform 0.5s 0.9s,
                    opacity 0.5s 0.9s;
                opacity: 1;
                transform: translate(0);
            }
        }
    }
}
//========================================================================================================================================================
.info-page {
    padding-top: toRem(70);
    padding-bottom: toRem(70);
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        display: inline-block;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        box-shadow: 30mm 0mm 30mm #fb64c350;
        top: 0;
        left: 0;
        transform: translate(-100%, 0);
        pointer-events: none;
    }
    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: toRem(30);
    }
    &__button-wrapper {
        position: relative;
        &::before {
            width: 50%;
            @include adaptiveValue("height", 100, 50, 0, 768, 480);
            display: inline-block;
            content: "";
            position: absolute;
            top: toRem(10);
            right: calc(100% + toRem(10));
            background: url("@img/arrow.svg") right top / contain no-repeat;
            @media (max-width: $mobileSmall) {
                right: 100%;
            }
        }
    }
    &__button {
    }
    &__text {
        text-align: center;
        line-height: 1.4;
        font-style: italic;
        @include adaptiveValue("font-size", 22, 16, 0, 480, 320);
    }
}
//========================================================================================================================================================
.ba {
    padding-bottom: toRem(40);
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        display: inline-block;
        height: 800px;
        width: 300px;
        border-radius: 50%;
        box-shadow: -30mm 0mm 30mm #fb64c350;
        top: 0;
        right: 0;
        transform: translate(100%, 0);
        pointer-events: none;
    }
    &__container {
    }
    &__items {
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }
}
.before-after {
    width: 60%;
    margin: 0 auto;
    &__item {
        &:first-child {
            position: relative;
            &::before {
                content: "до";
                position: absolute;
                padding: toRem(10) toRem(100) toRem(10) toRem(35);
                border-radius: 25px;
                border: 1px solid #000;
                z-index: -1;
                top: 30%;
                left: toRem(-60);
                text-shadow:
                    0px 1px 0 #fff,
                    0px -1px 0 #fff,
                    1px 0px 0 #fff,
                    -1px 0px 0 #fff,
                    1px 1px 0 #fff,
                    1px -1px 0 #fff,
                    -1px 1px 0 #fff,
                    -1px -1px 0 #fff;
                font-weight: 700;
                @include adaptiveValue("font-size", 30, 20, 0, 768, 480);
                background-color: $pinkColor;
                text-transform: uppercase;
            }
            &::after {
                content: "після";
                position: absolute;
                padding: toRem(10) toRem(35) toRem(10) toRem(100);
                border-radius: 25px;
                border: 1px solid #000;
                z-index: -1;
                top: 30%;
                @include adaptiveValue("right", -120, -70, 0, 768, 480);
                text-shadow:
                    0px 1px 0 #fff,
                    0px -1px 0 #fff,
                    1px 0px 0 #fff,
                    -1px 0px 0 #fff,
                    1px 1px 0 #fff,
                    1px -1px 0 #fff,
                    -1px 1px 0 #fff,
                    -1px -1px 0 #fff;
                font-weight: 700;
                @include adaptiveValue("font-size", 30, 20, 0, 768, 480);
                background-color: $pinkColor;
                text-transform: uppercase;
                @media (max-width: $mobileSmall) {
                    padding: toRem(10) toRem(15) toRem(10) toRem(100);
                }
            }
        }
    }
    &__arrow {
        background-color: $pinkColor;
        width: toRem(5);
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: toRem(25);
            width: toRem(10);
            background-color: $creamColor;
            border: 1px solid $pinkColor;
            border-radius: 10px;
        }
    }
}
.another-before-after {
    display: flex;
    gap: toRem(30);
    padding-right: toRem(100);
    @media (max-width: $mobileSmall) {
        padding-right: toRem(50);
    }
    &__image {
        padding: toRem(25);
        border: 1px solid $mainColor;
        border-radius: 35px;
        position: relative;
        flex: 0 0 calc((100% - toRem(30)) / 2);
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $mobileSmall) {
            padding: toRem(10);
            border-radius: 20px;
        }
        &::before {
            position: absolute;
            padding: toRem(10) toRem(35) toRem(10) toRem(60);
            border-radius: 25px;
            border: 1px solid #000;
            z-index: 2;
            top: 30%;
            right: -60px;
            text-shadow:
                0px 1px 0 #fff,
                0px -1px 0 #fff,
                1px 0px 0 #fff,
                -1px 0px 0 #fff,
                1px 1px 0 #fff,
                1px -1px 0 #fff,
                -1px 1px 0 #fff,
                -1px -1px 0 #fff;
            font-weight: 700;
            @include adaptiveValue("font-size", 22, 16, 0, 768, 480);
            background-color: $pinkColor;
            text-transform: uppercase;
            @media (max-width: $mobileSmall) {
                padding: toRem(5) toRem(10) toRem(5) toRem(60);
            }
        }
        &:first-child {
            &::before {
                content: "до";
                @media (max-width: $mobileSmall) {
                    right: -45px;
                }
            }
        }
        &:nth-child(2) {
            &::before {
                content: "після";
                right: toRem(-100);
                @media (max-width: $mobileSmall) {
                    right: toRem(-70);
                }
            }
        }
        img {
            max-width: 100%;
            position: relative;
            z-index: 2;
        }
    }
}
//========================================================================================================================================================
//========================================================================================================================================================
.faq {
    display: flex;
    flex-direction: column;
    background: url("@img/faq.jpeg") center center / cover no-repeat;
    font-weight: 700;
    padding-bottom: toRem(50);
    &__button-wrapper {
        align-self: center;
        transform: translateY(-10px);
        margin-bottom: toRem(20);
        position: relative;
        &::before {
            width: 50%;
            @include adaptiveValue("height", 100, 50, 0, 768, 480);
            display: inline-block;
            content: "";
            position: absolute;
            top: toRem(10);
            right: calc(100% + toRem(10));
            background: url("@img/arrow.svg") right top / contain no-repeat;
            @media (max-width: $mobileSmall) {
                right: 100%;
            }
        }
    }
    &__button {
    }
    &__title {
        padding: toRem(20) toRem(15);
        text-align: center;
        font-size: toRem(50);
        text-transform: uppercase;
        background-color: #fff;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }
    &__items {
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }
}
.item-faq {
    display: flex;
    flex-direction: column;
    text-align: center;
    &__label {
        padding: toRem(15);
        background-color: #fff;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        @include adaptiveValue("font-size", 28, 18);
        &:not(:last-child) {
            margin-bottom: toRem(15);
        }
    }
    &__content {
        align-self: center;
        max-width: toRem(600);
        padding: toRem(25) toRem(50);
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 35px;
        @include adaptiveValue("font-size", 18, 16);
        @media (max-width: $mobile) {
            max-width: 80%;
            padding: toRem(15) toRem(20);
            border-radius: 20px;
        }
    }
}
//========================================================================================================================================================
.service {
    text-align: center;
    background: url("@img/service.jpeg") center center / cover no-repeat;
    position: relative;
    z-index: 2;
    &__container {
        border-top: 1px solid #000;
        padding-bottom: toRem(30);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__button-wrapper {
        transform: translateY(-10px);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 300, 150);
        }
        position: relative;
        &::before {
            width: 50%;
            @include adaptiveValue("height", 100, 50, 0, 768, 480);
            display: inline-block;
            content: "";
            position: absolute;
            top: toRem(10);
            right: calc(100% + toRem(10));
            background: url("@img/arrow.svg") right top / contain no-repeat;
            @media (max-width: $mobileSmall) {
                right: 100%;
            }
        }
    }
    &__label {
        position: relative;
        font-weight: 700;
        font-style: italic;
        color: #fff;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 22, 18, 0, 480, 320);
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
        text-shadow:
            0px 1px 0 $pinkColor,
            0px -1px 0 $pinkColor,
            1px 0px 0 $pinkColor,
            -1px 0px 0 $pinkColor,
            1px 1px 0 $pinkColor,
            1px -1px 0 $pinkColor,
            -1px 1px 0 $pinkColor,
            -1px -1px 0 $pinkColor;
    }
    &__link {
        transition: transform 0.3s;
        width: 50px;
        img {
            max-width: 100%;
        }
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.1);
            }
        }
        &:active {
            transform: scale(1.1);
        }
    }
}
.testimonials {
    font-weight: 700;
    padding-bottom: toRem(50);
    background: url("@img/testimonials.jpeg") center center / cover no-repeat;
    position: relative;
    padding-top: toRem(30);
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -10%;
        width: 30%;
        padding-bottom: 15%;
        background: url("@img/tape.png") center center / contain no-repeat;
        z-index: 3;
        pointer-events: none;
        transform: translate(0, -50%);
        @media (max-width: $mobileSmall) {
            width: 50%;
            left: -20%;
        }
    }
    &__container {
    }
    &__title {
        padding: toRem(20) toRem(40);
        text-align: center;
        border: 1px solid #000;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        background-color: $creamColor;
        @include adaptiveValue("font-size", 36, 16, 0, 768, 480);
        &:not(:last-child) {
            margin-bottom: toRem(25);
        }
        @media (max-width: $mobileSmall) {
            padding: toRem(10);
            border-radius: 20px;
        }
        transform: translateY(10px);
        opacity: 0;
        &._watcher-view {
            transition:
                opacity 0.5s,
                transform 0.5s;
            opacity: 1;
            transform: translate(0);
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__img {
        max-width: 50%;
        border-radius: 10px;
        margin-left: 20px;
        opacity: 0;
        &._watcher-view {
            transition:
                opacity 0.5s,
                margin 0.5s;
            opacity: 1;
            margin-left: 0;
        }
        &:nth-child(odd) {
            margin-left: -20px;
            opacity: 0;
            &._watcher-view {
                transition:
                    opacity 0.5s,
                    margin 0.5s;
                opacity: 1;
                margin-left: 0;
            }
        }
        @media (max-width: $mobile) {
            max-width: 70%;
        }
        &:nth-child(1) {
            transform: rotate(-10deg);
            &:not(:last-child) {
                margin-bottom: toRem(10);
                @media (max-width: $mobile) {
                    margin-bottom: toRem(25);
                }
            }
        }
        &:nth-child(2) {
            align-self: center;
            &:not(:last-child) {
                margin-bottom: toRem(30);
            }
        }
        &:nth-child(3) {
            align-self: flex-end;
            transform: rotate(7deg);
            &:not(:last-child) {
                margin-bottom: toRem(10);
                @media (max-width: $mobile) {
                    margin-bottom: toRem(25);
                }
            }
        }
        &:nth-child(4) {
            transform: rotate(-5deg);
            &:not(:last-child) {
                margin-bottom: toRem(10);
                @media (max-width: $mobile) {
                    margin-bottom: toRem(20);
                }
            }
        }
        &:nth-child(5) {
            align-self: center;
        }
    }
}
