.wrapper {
}
.taplink-wrapper {
}
.simple-page {
    &__main-section {
    }
}
.main-simple-page-section {
    background-color: #fff;
    @include adaptiveValue("padding-top", 100, 50);
    @include adaptiveValue("padding-bottom", 100, 50);
    &__container {
        max-width: toRem(1200);
        @include adaptiveValue("font-size", 16, 14);
        line-height: 1.5;
        a {
            color: $blueColor;
            font-weight: 700;
            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
            &:active {
                text-decoration: underline;
            }
        }
        h1 {
            @include adaptiveValue("font-size", 44, 24);
            font-weight: 700;
            line-height: 1.2;
            &:not(:last-child) {
                margin-bottom: toRem(30);
            }
        }
        h2 {
            @include adaptiveValue("font-size", 24, 20);
            font-weight: 700;
            margin-bottom: toRem(20);
        }
        h3 {
            font-size: toRem(18);
            font-weight: 700;
            margin-bottom: toRem(15);
        }
        li {
            margin-bottom: toRem(15);
        }
        p {
            &:not(:last-child) {
                margin-bottom: toRem(20);
            }
        }
        li {
            list-style: none;
        }
    }
    &__link {
        display: inline-block;
        margin-bottom: toRem(20);
    }
}
